.recommended-flex {
  display: flex;
  margin-left: 20rem;
}

.recommended-title {
  margin-left: 20rem;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
}

.recommendation-btns {
  padding: 10px 20px;
  margin-right: 0.5rem;
  border: none;
  background: transparent;
  border: 2px solid #eee;
  border-radius: 20px;
  cursor: pointer;
}
